<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Zoo Restaurant</title>
    @Styles.Render("~/Content/css")

    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("styles", required: false)

</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/Home/Index">
                    <p style="font-family:fantasy">Zoo Restaurant</p>
                </a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="/Home/Index"><i class="fa fa-home fa-lg"></i></a></li>
                    <li>@Html.ActionLink("Меню", "Dishes", "Menu")</li>
                    <li>@Html.ActionLink("Доставка", "Delivery", "Home")</li>
                    <li>@Html.ActionLink("Контакти", "Contact", "Home")</li>
                </ul>

                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>

    <div class="container-fluid body-content">
        <div id="menu" class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <ul class="nav nav-pills nav-stacked">
                        @Html.Partial("_MealCategoriesLinks")
                    </ul>
                </div>
                <div class="col-md-9">
                    <div class="container-fluid body-content">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>

    </div>

    <footer class="text-center">
        <img src="~/Content/Images/bottomFooter.png" alt="image" width="100%" height="120 px" />
        <p>&copy; @DateTime.Now.Year - Zoo Restaurant</p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
